html {
  font-size: 62.5%;
}

body {
  background: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  background-image:
    radial-gradient(
      #333745,
      black
    );
}

button {
  color: white;
  cursor: pointer;
  border: 1px solid rgb(101, 97, 97);
  background-color: #333745;
  margin: 2px;
}

button:disabled {
  cursor: default;
}

#root {
  margin: auto;
  padding-top: 10px;
  width: 40%;
  height: 80%;
  color: white;
  /* background-color: black */
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 667px) {
  #input {
    width: 80%;
    padding-right: 10px;
    margin-right: 4px;
    border: 1px solid black;
  }

  #submitButton {
    margin-top: 10px;
  }

  #header {
    width: 80%;
    margin: auto;
    text-align: center;
  }
}

@media only screen 
and (min-device-width : 668px) 
and (max-device-width : 2480px) {
  #input {
    width: 40%;
    padding-right: 15px;
    margin-right: 6px;
    border: 1px solid black;
  }
}
